graft tests
graft fixtures
graft docs
graft examples
include LICENSE
include README.md
include SECURITY.md
include pyproject.toml
include requirements.lock
recursive-include .github *.yml
global-exclude *.py[cod]
global-exclude __pycache__
global-exclude .env
